.background-mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    padding-inline: 24px;
    box-sizing: border-box;
    @media screen and (max-width: 600px) {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(145, 155, 234, 0.3) 22.6%, rgba(145, 155, 234, 0.3) 52.6%, rgba(145, 155, 234, 0.3) 52.6%, rgba(145, 155, 234, 0.3) 52.6%);
        background-attachment: fixed;
    }
}

.background-mobile-2 {
    @media screen and (max-width: 600px) {
        display: none;
    }
}