.settings-button-container {
    position: relative;

    .toolbox-icon {
        align-items: center;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;

        &.disabled, .disabled & {
            cursor: initial;
            color: #929292;
            background-color: #36383c;

            &:hover {
                background-color: #36383c;
            }
        }
    }
}

.toolbox-button-with-icon {
    position: absolute;
    right: -4px;
    top: -4px;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(65, 65, 65, 1);
    padding: 4px;

    &:hover {
        background-color: rgba(95, 95, 95, 1);
    }
}

.settings-button-small-icon {
    background: rgba(65, 65, 65, 1);
    border-radius: 100%;
    cursor: pointer;
    padding: 4px;
    position: absolute;
    right: -4px;
    top: -3px;

    &:hover {
        background: rgba(95, 95, 95, 1);

        & svg {
            fill: white;
        }

        &.settings-button-small-icon--disabled {
            background: #36383C;

            & svg {
                fill: #929292;
            }
        }
    }

    & svg {
        fill: #fff;
    }

    &--disabled {
        background-color: #36383c;
        cursor: default;

        & svg {
            fill: #929292;
        }
    }
}

.settings-button-small-icon-container {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    right: -4px;
    top: -3px;

    & .settings-button-small-icon {
        position: relative;
        top: 0;
        right: 0;
    }

    &.visible {
        opacity: 1;
    }
}

.opacity-with-animation-200ms {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &.visible {
        opacity: 1;
    }
}
