.subject {
    color: #fff;
    transition: opacity .6s ease-in-out;
    z-index: $toolbarZ + 2;
    margin-top: 16px;
    opacity: 0;

    @media (max-width: 500px) {
        margin-top: 0;
    }

    &.visible {
        opacity: 1;
    }

    &#autoHide.with-always-on {
        overflow: hidden;
        animation: hideSubject forwards .6s ease-out;

        & > .subject-info-container {
            justify-content: flex-start;
        }

        &.visible {
            animation: showSubject forwards .6s ease-out;
        }
    }
}

.subject-info-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    @media (max-width: 500px) {
        align-items: start;
        flex-wrap: wrap;
    }
}

.details-container {
    width: 100%;
    display: flex;
    justify-content: start;
    position: absolute;
    top: 0;
    height: 48px;
}

.details-container-mobile {
    padding-top: 16px;
    padding-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    background: transparent;
    z-index: 1;
    transition: opacity .6s ease-in-out;
    opacity: 0;

    &.prejoin-page {
        z-index: 253;
    }

    &.visible {
        opacity: 1;
    }
}

.header-buttons-mobile-container {
    display: flex;
    gap: 12px;
    transition: opacity .6s ease-in-out;
    opacity: 0;
    justify-content: center;
    align-items: center;

    &.visible {
        opacity: 1;
    }
}

.header-buttons-mobile-container-right {
    padding-right: 16px;
}

.header-buttons-mobile-container-left {
    padding-left: 16px;
}

.conference-android-webview-pip-button {
    margin-right: 16px;
    cursor: pointer;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@keyframes hideSubject {
    0% {
        max-width: 100%;
    }

    100% {
        max-width: 0;
    }
}

@keyframes showSubject {
    0% {
        max-width: 0%;
    }

    100% {
        max-width: 100%;
    }
}
