/**
 * Round badge.
 */
.badge-round {
    background-color: rgba(255, 79, 71, 1);
    border-radius: 100%;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    // Do not inherit the font-family from the toolbar button, because it's an
    // icon style.
    font-family: "Lato Bold";
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    min-width: 13px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/**
 * Round badge.
 */
.badge-round-mobile {
    background-color: rgba(255, 79, 71, 1);
    border-radius: 12px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    font-family: "Lato Bold";
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    min-width: 22px;
    min-height: 22px;
    overflow: hidden;
    text-align: center;
    padding: 3px 7px;
    z-index: 4;

    &.overflow-button {
        border-radius: 20px;
        position: absolute;
        top: -4px;
        right: -10px;
        font-size: 10px;
        line-height: 12px;
        min-width: 18px;
        min-height: 18px;
        padding: 3px 6px;

        &.more-than-9 {
            min-width: 24px;
            top: -4px;
            right: -16px;
        }
    }
}

/**
 * TODO: when the old filmstrip has been removed, remove the "new-" prefix.
 */
.new-toolbox {
    bottom: calc((#{$newToolbarSize} * 2) * -1);
    left: 0;
    position: absolute;
    right: 0;
    transition: bottom .3s ease-in;
    width: 100%;
    pointer-events: none;
    z-index: $toolbarZ + 2;

    &.shift-up {
        bottom: calc(((#{$newToolbarSize} + 30px) * 2) * -1);

        .toolbox-content {
            margin-bottom: 48px;

            &.toolbox-content-mobile {
                margin-bottom: 0;
            }
        }
    }

    &.lobby {
        z-index: $toolbarZ + 3;
    }

    &.visible {
        bottom: 0;
    }

    &.no-buttons {
        display: none;
    }
}

.compass-new-toolbox {
    opacity: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    transition: opacity .2s ease-in-out;
    width: 100%;
    pointer-events: none;
    z-index: $toolbarZ + 2;

    &.shift-up {
        opacity: 0;
        bottom: 0;

        .toolbox-content {
            margin-bottom: 48px;

            &.toolbox-content-mobile {
                margin-bottom: 0;
            }
        }
    }

    &.lobby {
        z-index: $toolbarZ + 3;
    }

    &.visible {
        bottom: 0;
        opacity: 1;
    }

    &.no-buttons {
        display: none;
    }
}

.compass-new-toolbox-mobile {
    opacity: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    transition: opacity .2s ease-in-out;
    width: 100%;
    pointer-events: none;
    z-index: $toolbarZ + 2;
    padding-bottom: 24px;

    &.shift-up {
        opacity: 0;
        bottom: 0;

        .toolbox-content {
            margin-bottom: 48px;

            &.toolbox-content-mobile {
                margin-bottom: 0;
            }
        }
    }

    &.lobby {
        z-index: $toolbarZ + 3;
    }

    &.visible {
        bottom: 0;
        opacity: 1;
    }

    &.no-buttons {
        display: none;
    }
}

.toolbox-content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 16px;
    position: relative;
    z-index: $toolbarZ;
    pointer-events: none;

    .toolbox-button-wth-dialog {
        display: inline-block;
    }
}

.compass-toolbox-content {
    padding-top: 2px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    position: relative;
    z-index: $toolbarZ;
    pointer-events: none;

    .toolbox-button-wth-dialog {
        display: inline-block;
    }

    &.toolbox-content-mobile {
        padding-top: 0px;
    }
}

.toolbar-button-with-badge {
    display: inline-block;
    position: relative;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    .badge-round {
        font-size: 10px;
        line-height: 12px;
        min-width: 18px;
        pointer-events: none;
        position: absolute;
        right: -4px;
        top: -3px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.is-mobile {
            min-width: 17px;
            right: -12px;
            top: -12px;
        }

        &.not-empty {
            min-height: 18px;

            &.is-mobile {
                min-height: 17px;
            }
        }
    }
}

.toolbox-content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    pointer-events: all;
    border-radius: 6px;

    .toolbox-content-items {
        @include ltr;
    }
}

.compass-toolbox-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    pointer-events: all;
    border-radius: 6px;

    .toolbox-content-items {
        @include ltr;
    }
}

.toolbox-content-wrapper::after {
    content: '';
    background: $newToolbarBackgroundColor;
    padding-bottom: env(safe-area-inset-bottom, 0);
}

.overflow-menu-hr {
    border-top: 1px solid #4C4D50;
    border-bottom: 0;
    margin: 8px 0;
}

div.hangup-button {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: 100%;

            .jitsi-icon-default svg {
                fill: rgba(255, 79, 71, 1);
            }
        }

        &:active {
            opacity: 100%;

            .jitsi-icon-default svg {
                fill: rgba(255, 79, 71, 1);
            }
        }
    }

    .jitsi-icon-default svg {
        fill: rgba(255, 79, 71, 1);
    }
}

div.hangup-button-mobile {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: 100%;
        }

        &:active {
            opacity: 100%;
        }
    }
}

div.hangup-menu-button {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: 100%;

            .jitsi-icon-default svg {
                fill: rgba(255, 79, 71, 1);
            }
        }

        &:active {
            opacity: 100%;

            .jitsi-icon-default svg {
                fill: rgba(255, 79, 71, 1);
            }
        }
    }

    .jitsi-icon-default svg {
        fill: rgba(255, 79, 71, 1);
    }
}

div.hangup-menu-button.toggled {
    opacity: 100%;

    .jitsi-icon-default svg {
        fill: rgba(255, 79, 71, 1);
    }
}

.profile-button-avatar {
    align-items: center;
}

/**
 * START of fade in animation for main toolbar
 */
.fadeIn {
    opacity: 1;

    @include transition(all .2s ease-in);
}

.fadeOut {
    opacity: 0;

    @include transition(all .2s ease-out);
}

/**
 * Audio button have separate toggled state.
 */
.audio-preview {
    .toolbox-icon.toggled {
        opacity: 100%;
        background: rgba(255, 255, 255, 1);

        .settings-button-small-icon svg {
            fill: #fff !important;
        }

        .jitsi-icon-default svg {
            fill: rgba(255, 79, 71, 1);
        }

        &:hover {
            background: rgba(255, 255, 255, 1);
        }
    }

    &.premeeting {
        .toolbox-icon {
            opacity: 60%;
            background: transparent;

            &:hover {
                opacity: 100%;
            }
        }

        .toolbox-icon.toggled {
            opacity: 60%;
            background: transparent;

            &:hover {
                opacity: 100%;
            }

            .jitsi-icon-default svg {
                fill: #fff !important;
            }
        }
    }
}

/**
 * Video button do not have toggled state.
 */
.video-preview {
    .toolbox-icon.toggled {
        background: none;
        opacity: 60%;

        &:hover {
            opacity: 100%;
        }
    }

    &.premeeting {
        .toolbox-icon.toggled {
            background: transparent;

            .jitsi-icon-default svg {
                fill: #fff !important;
            }
        }
    }
}

.toolbox-icon.screen-share-button {

    opacity: 100%;

    .jitsi-icon-default svg {
        fill: rgba(4, 164, 90, 1);
    }

    &:hover {
        background: transparent;

        .jitsi-icon-default svg {
            fill: rgba(5, 196, 107, 1);
        }
    }
}

.toolbox-icon.screen-share-button.disabled {
    opacity: 30%;

    .jitsi-icon-default svg {
        fill: rgba(4, 164, 90, 1);
    }

    &:hover {
        background: transparent;

        .jitsi-icon-default svg {
            fill: rgba(4, 164, 90, 1);
        }
    }
}

.toolbox-icon.screen-share-button.toggled {

    opacity: 100%;
    background: rgba(5, 196, 107, 1);

    .jitsi-icon-default svg {
        fill: rgba(255, 255, 255, 1);
    }

    &:hover {
        background: rgba(5, 196, 107, 1);
    }
}

.toolbox-icon.raise-hand-button.toggled {
    opacity: 100%;
    background: rgba(255, 206, 15, 1);

    .jitsi-icon-default svg {
        fill: rgba(23, 23, 23, 1);
    }

    &:hover {
        background: rgba(255, 206, 15, 1);
    }
}

/**
 * On small mobile devices make the toolbar full width and pad the invite prompt.
 */
.toolbox-content-mobile {
    @media (max-width: 500px) {
        margin-bottom: 0;

        .toolbox-content-wrapper {
            width: 100%;
        }

        .toolbox-content-items {
            @include ltr;
            border-radius: 0;
            display: flex;
            justify-content: space-evenly;
            padding: 8px 0;
            width: 100%;
            background: rgba(28, 28, 28, 1);
        }

        .invite-more-container {
            margin: 0 16px 8px;
        }

        .invite-more-container.elevated {
            margin-bottom: 52px;
        }
    }
}

.raise-hand-row-button-mobile {
    padding: 16px;

    .toolbox-button {
        width: 100%;

        .toolbox-icon {
            width: 100%;
            border-radius: 8px !important;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            font-family: 'Lato SemiBold';
            font-weight: normal;
            font-size: 15px;
            line-height: 23px;
            color: rgba(180, 180, 180, 1);
            height: initial;
            padding: 10.5px 0;
        }
    }
}

.emoji-raise-hand-button-mobile {

}