$rangeInputThumbSize: 14;

/**
 * Disable the default webkit styles for range inputs (sliders).
 */
input[type=range]{
    -webkit-appearance: none;
    background: none;
}

/**
 * Show focus for keyboard accessibility.
 */
input[type=range]:focus {
    outline: none;
}

/**
 * Include the mixin for a range input style.
 */
@include slider {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 4px;
    width: 100%;
}

/**
 * Include the mixin for a range input thumb style.
 */
@include slider-thumb {
    -webkit-appearance: none;
    margin-top: -6px;
    width: 16px;
    height: 16px;
    border: none;
    background: rgba(199, 199, 199, 1);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
