/gdump/backup
.idea
.DS_Store
/private/main.php
/private/custom.php
/private/public.php
/www/static/jscss
/php_admin/codeception/tests/_output/
/php_admin/codeception/tests/_support/_generated/
/php_admin/dev/php/*
!/php_admin/dev/php/example.php
/php_admin/api/conf/dpc.php
/dev/php/*
!/dev/php/example.php

# для того чтобы не создавать эти папки вручную при инсталле фреймворка
/logs/*
!/logs/cron/.gitkeep
!/logs/exception/.gitkeep
!/logs/info/.gitkeep
!/logs/nginx/.gitkeep

/cache/*
!/cache/upload/.gitkeep
!/cache/utest/.gitkeep

/doc/db/*.mwb.bak
/codeception/tests/_output/
